[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

python-decouple = "*"
requests = "*"
instagramapi = "*"
pymongo = "*"
pillow = "*"
django = "*"
whitenoise = "*"
unipath = "*"
gunicorn = "*"
"boto3" = "*"
dj-database-url = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"


[dev-packages]

ipdb = "*"
pytest = "*"
freezegun = "*"
responses = "*"
