[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

python-decouple = "*"
requests = "*"
instagramapi = "*"
pymongo = "*"
pillow = "*"


[dev-packages]

ipdb = "*"
pytest = "*"
freezegun = "*"
responses = "*"
