{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <title>projeto x</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>projeto x</h1>
                </div>
                <div class="col text-right">
                    <h6>Busca</h6>
                    <div>
                        <select name="search_option" id="search_option">
                            <option value="hashtags">Hashtags</option>
                            <option value="location">Local</option>
                            <option value="username">Usuário</option>
                            <option value="custom_tags">Tags customizadas</option>
                            <option value="date">Data</option>
                        </select>
                        <input type="text" id="search_input_text">
                        <span id="search_input_date" class="hidden">
                            <input type="date" id="start_date">
                            a
                            <input type="date" id="end_date">
                        </span>
                    </div>
                    <div>
                        <button id="do_search">Buscar</button>
                        <button id="clear_search">Limpar busca</button>
                    </div>
                </div>
            </div>
            <div id="no-images" class="hidden">
                <p class="text-center">Não há imagens para exibir.</p>
            </div>
            <div id="images" class="row album"></div>
            <div class="footer-endless-scroll text-center">
                <div id="loading">Aguarde, carregando...</div>
            </div>
        </div>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>